services:

  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    image: nongdev/mobile-menu-frontend:latest
    restart: always
    networks:
      - web

networks:
  web:
    external: true
  internal_project_network:
    driver: bridge
