services:

  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: mobile-menu-frontend-beta
    image: nongdev/mobile-menu-frontend-beta:latest
    restart: always
    networks:
      - web

networks:
  web:
    external: true
  internal_project_network:
    driver: bridge
